
  <div class="landing">
            <h2 class="animate__animated animate__fadeInLeft landing-title">Publish your innovation, your way</h2>
            <p class="landing-title"><span>---</span> a unique and beautiful blog easily<span>---</span></p>

          </div>

          <section>
            <div class="blog"><h3 class="blogs-title"> LATEST BLOGS</h3></div>
            


              <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-12 post">
              <div class="post-content">
                <h3>This The title of the post</h3>
                <p>This is the paragraph of the postThis is the paragraph of the postThis is the paragraph of the postTThis is the paragraph of the posthis is the paragraph of the post</p>
              </div>
            </div>

          </div>
         </div>



          </section>
